@{
    ViewBag.Title = "Contact";
}
<h2>Acerca de... </h2>

<p> </p>
<p> </p>
<p> </p>

<h3>Datos Personales</h3>

<address>
    <strong>Nombre Programador:</strong> Jonatan Alexander Contreras Herrera.<br />
    <strong>Ciudad:</strong> Medellín.<br />
    <strong>Estudios:</strong> Ingeniería Mecatrónica.<br />
    <strong>Edad:</strong> 34 años<br />
</address>

<p> </p>
<p> </p>
<p> </p>

<h3>Datos labora</h3>

<address>
    <strong>Años de experiencia:</strong> Dos años como programador<br />
    <strong>Lenguaje de programación:</strong> C#, ASP.Net, C++<br />
    <strong>Idiomas:</strong> Inglés: Avanzado -- Español: Nativo.<br />
</address>



