@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">Aplicación Protección Optimizador A4</h1>
    <p class="lead" align="center">Con este aplicativo puedes optimizar imágenes al formato de hoja A4. En los menú de arriba puedes navegar.</p>    
</div>

